*{
    margin :0;
    padding: 0;
    font-family:sans-serif;
}
.nav1{

    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.RoyalE{
   width: 190px;
   margin-left:20px;
   padding-top: 11px;
}
.texts{
    /* border: 2px solid #cccccc; */
    color: #cccccc;
    align-content: center;
    text-align: center;
    justify-content:space-evenly;
    width: 1000px;
    word-spacing: 15px;

}
#motorcycles{
    justify-content: space-evenly;
    align-items: center;
    /* font-size: 20px; */

}
a:hover{
    color: red;
}
a{
    color: #cccccc;
text-decoration-line:none;

}
.images{
    width: 18%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.img1{
    width: 25px;
    height: 25px;
}
.img2{
    width: 25px;
    height: 25px;
    transform: rotate(270deg)
}
#font{
    color:bisque;
}
.nav2{
    width: 100%;
    height: 60px;
    background-color: rgb(46, 44, 44);
    display: flex;
    align-items: center;
    justify-content:space-between;
    top: 0px;
    z-index: 2;

    
}
.texts2{
    display: flex;
    color: #cccccc;
    align-content: center;
    text-align: center;
    justify-content:space-around;
    width: 800px;
    word-spacing: -10px;
   

}
#HIMALAYAN{
    justify-content: space-evenly;
    align-items: center;
    color: #cccccc;
   
}
.HIMALAYAN{
    margin-left:20px;
    padding-top: 5x;
    color: #cccccc;
}
.arrow{
    width: 12px;
    height: 12px;
    margin-right: 20px;
    transform: rotate(180deg)

}
.button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px; 
     height: 50px;
     letter-spacing: 10px;
}
#button1{
    margin-left: 15px;
    width: 175px;
    height: 37px;
    /* background: red; */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.arrow3
{
   
    width: 12px;
    height: 12px;
    margin-right: 20px;
   

}
#button2{
    width: 175px;
    height: 37px;
    background: red;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 15px;
}

#nav3{
    height: 40px;
    width: 100%;
    
    background-color: rgb(46, 44, 44);
   
    position: sticky;
    top: 60px;
    z-index: 2;

}
.nav3{
    height: 50px;
     width: 250px;
     margin-left: 20px;
     /* margin: 0; */
     display: flex;
     align-items: center;
     justify-content: space-evenly;

}
#mainnav{
    display: block;
    width: 100%;
    z-index: 1;
    height: 110px;
    position: sticky;
    top: 0px;
    color: #cccccc
    
}
.arrow2{
    width: 12px;
    height: 12px;
   
    transform: rotate(90deg);
    transform-style: initial;
}
/*  */
.image001{
   
    height: 150%;
   
    /* position: relative; */
}
.imagetext1{
    line-height: 30px;
    font-style: bold;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 1000px;
    left: 70%;
    color: white

}
#button3{
    width: 175px;
    height: 37px;
    word-spacing: 2px;
}
.image002{
    /* top: -2px; */
    margin-top: 0px;
    padding: 0%;
    width:100%;
    height: 105%;
}
.imagetext2{
    line-height: 30px;
    font-style: bold;
    height: 300px;
    width: 390px;
    position: absolute;
    top: 240%;
    left: 5%;
    color:white;
}
.image003{
width: 100%;
    height: 105%;

}
.imagetext3{
    line-height: 30px;
    font-style: bold;
    height: 300px;
    width: 390px;
    position: absolute;
    top: 310%;
    left: 5%;
    color:white;
}

#video1{
width:100%;
    /* height: 500px: */
}
.divimage2{
    margin-top: -5px;
}
.divimage3{
    margin-top: -5px;
}
.divimage4{
    margin-top: -5px;
}
.divimage5{
    margin-top: -5px;
}
/* .divimage6{
    margin-top: -5px;
} */
.divvideo2{
    margin-top: -5px; 
}
.divvideo1{
    margin-top: -5px; 
}
.image004{

    width:100%;
    height: 105%;
}
.imagetext4{
    line-height: 30px;
    height: 300px;
    width: 390px;
    position: absolute;
    top: 624%;
    left: 5%;
    color:white;
}
.image005{

    width:100%;
    height: 105%;
}
.imagetext5{
    line-height: 30px;
    height: 300px;
    width: 390px;
    position: absolute;
    top: 717%;
    left: 5%;
    color:white;
}
.image006{

    width:100%;
    height: 105%;
}
.imagetext6{
    line-height: 40px;
    height: 300px;
    width: 390px;
    position: absolute;
    top: 796%;
    right: 5%;
    color:white;
}
#button4{
    word-spacing: 2px;
    width:150px;
    height: 37px;
    /* background: red; */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.arrow4{
    width: 12px;
    height: 12px;
    margin-right:13px;
    transform: rotate(270deg)
   
}

/* -------------------------------------- */
.divcolor{
    margin-top: -5px;
    background-color: rgb(46, 44, 44);
    width: 100%;
    height: 550px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}
#imagescolor{
    image-rendering:;
    width: 400px;
    height: 300px;
}
#color{
    margin-top:-4px;
    height: 50px;
    display: flex;
 justify-content: center;
 /* background: #cccccc */
 background-color: rgb(46, 44, 44);
}
#font1{
    color: white;
    margin-top: 10px;
}
